* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

input, button, textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  border: 0;
}

button {
  cursor: pointer;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

/* ================================== */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  background: #141523;
}

.content {
  margin: 24px 24px;
}

.icon {
  fill: #fff;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}
.icon--purple {
  fill: #7B61FF;
}
.icon--red {
  fill: #E64646;
}
